tools/*
*.blend1
*.z64
z64rom.exe
z64rom
include/z64hdr/*
include/z64hdr.zip
**/.vanilla/*
z64project.cfg
rom/system/vanilla.entrance_table.cfg
*.o
*.elf
*.ld
rom/lib_code/*
rom/lib_user/*
.backup/*


rom/actor/0x01E0-EnPlayCutscene/config.cfg
rom/actor/0x01E0-EnPlayCutscene/overlay.zovl
rom/sound/sequence/0x00-SoundEffects/config.cfg
rom/sound/sequence/0x00-SoundEffects/sequence.aseq
rom/system/kaleido/0x00-StartMenu/config.cfg
rom/system/kaleido/0x00-StartMenu/overlay.zovl
rom/system/kaleido/0x01-Player/config.cfg
rom/system/kaleido/0x01-Player/overlay.zovl
rom/system/state/0x01-LevelSelect/config.cfg
rom/system/state/0x01-LevelSelect/overlay.zovl
rom/system/state/0x02-BootTitle/config.cfg
rom/system/state/0x02-BootTitle/overlay.zovl
rom/system/state/0x04-Opening/config.cfg
rom/system/state/0x04-Opening/overlay.zovl
rom/system/state/0x05-FileChoose/config.cfg
rom/system/state/0x05-FileChoose/overlay.zovl
